* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  background-color: #818181;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: fit-content;
  margin: 0 auto;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 100px;
  height: 100px;
  font-size: 24px;
  cursor: pointer;
  color:#818181;
}

.square.selected {
  background-color: #e0e0e0;
  color:#010101;
  
}

.turn-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-weight: bold;
}

.reset-button {
  margin-top: 20px;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #0056b3;
}

.winner-section {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border: #ccc;
  background-color: #e0e0e0;
  padding: 10px 20px;
}
