/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2.64rem; /* Aumentado en un 20% */
}

/* Tablero de juego */
.gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 132px); /* Aumentado en un 20% */
  grid-gap: 5px;
  background-color: #818181;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: fit-content;
  margin: 0 auto;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 132px; 
  height: 132px; 
  font-size: 4rem; 
  cursor: pointer;
  color: #818181;
}

.square.selected {
  background-color: #e0e0e0;
  color: #010101;
}

/* Sección de turno */
.turn-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-weight: bold;
}

/* Botón de reinicio */
.reset-button {
  margin-top: 20px;
}

/* Estilos para botones */
.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #0056b3;
}

/* Interruptor de modo oscuro */
.switch-button {
  position: fixed;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 1.2rem;
  right: 3rem;
}

.switch-button input {
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 5px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 5px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}


.winner-section {
  margin-top: 20px;
  font-size: 26px; 
  font-weight: bold;
  text-align: center;
  border: #ccc;
  background-color: #e0e0e0;
  padding: 10px 20px;
}

.icons-container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-around;
  width: 160px;
  top:-15px;
  right: 50px;
}

.icon-dark,
.icon-light {
  font-size: 20px;
  margin: 0 5px;
}

/* Tema Oscuro */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

.gameBoard.dark-mode {
  background-color: #444;
}

.square.dark-mode {
  background-color: #555;
  color: #ddd;
}

.square.selected.dark-mode {
  background-color: #666;
  color: #010101;
}

.button.dark-mode {
  background-color: #007bff;
  color: #fff;
}

.winner-section.dark-mode {
  background-color: #666;
}


/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .gameBoard {
    grid-template-columns: repeat(3, 80px);
    grid-gap: 3px;
  }
  
  .square {
    width: 80px;
    height: 80px;
    font-size: 2rem;
    margin: 0;
  }
  
  .square.x-icon,
  .square.o-icon {
    font-size: 2.5rem;
  }
  
  .turn-section {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .reset-button {
    margin-top: 10px;
  }
  
  .button {
    font-size: 14px;
    padding: 8px 16px;
  }

  
  .switch-button {
    width: 40px;
    height: 24px;
    top: 1rem;
    right: 1rem;
  }

  .icons-container {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
    width: 120px;
    top: -20px;
    right:40px;
  }

  
  .slider:before {
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 3px;
  }
  
  .winner-section {
    font-size: 18px;
    padding: 8px 16px;
  }

  
}

